﻿@using System.Data.SqlClient
@{
  Page.Title = "Title goes here";
  Layout = "_Layout.cshtml";

  // Open Database Connection
  Database db = Database.Open("PlanetInc");

  // Test Querys
  const string queryString = "SELECT * FROM Clients";

  // Server-Side Validation
  Validation.RequireField("email", "You must enter your email");
  Validation.RequireField("password", "You must enter your password");
}

<a href="Reserve.cshtml">Reserve a planet here...</a>

@if (WebSecurity.IsAuthenticated)
{
  // Data for logged in user
  <form method="POST">
    <h3>Logout</h3>
    <fieldset>
      <input id="submit" name="logout" type="submit" value="Logout" />
    </fieldset>
  </form>
}
else
{
  <form method="POST">
    <h3>Login</h3>
    @Html.ValidationSummary()
    <fieldset>
      <label for="email">Email: </label>
      <input id="email" name="username" type="email" value="@Request["username"]" required />

      <label for="password">Password: </label>
      <input id="password" name="password" type="password" value="@Request["password"]" required />

      <input id="submit" type="submit" value="Submit" />
    </fieldset>
  </form>
}

@if (IsPost)
{
  if (Request.Form["logout"] == null && Validation.IsValid())
  {
    string username = Request.Form["username"];
    string password = Request.Form["password"];

    if (WebSecurity.UserExists(username))
    {
      if (WebSecurity.Login(username, password, persistCookie: true))
      {
        // Alert the user of login success
        Response.Redirect("/");
      }
      else
      {
        Validation.AddFormError("Invalid Login Information");
      }
    }
    else
    {
      Validation.AddFormError("Invalid Login Information");
    }
  }
  else if (WebSecurity.IsAuthenticated)
  {
    WebSecurity.Logout();
    Response.Redirect("/");
  }
}

@WebSecurity.IsAuthenticated

<div>

  @*Test Query Values*@
  <table>
    <tbody>
    @foreach (dynamic row in db.Query(queryString))
    {
      <tr>
        <td>@row.Id</td>
        <td>@row.name</td>
      </tr>
    }
    </tbody>
  </table>
  @*Test Query Values*@

</div>

@{
  // Close Database Connection
  db.Close();
}
