﻿@using System.Data.SqlClient
@{
  Page.Title = "Title goes here";
  Layout = "_Layout.cshtml";

  // Open Database Connection
  Database db = Database.Open("PlanetInc");

  // Test Querys
  const string queryString = "SELECT * FROM Clients";

  // Server-Side Validation
  Validation.RequireField("email", "You must enter your email");
  Validation.RequireField("password", "You must enter your password");
}

<a href="Reserve.cshtml">Reserve a planet here...</a>

<div class="col-md-6">
  @if (WebSecurity.IsAuthenticated)
  {
    // Data for logged in user
    <form class="form-horizontal" method="POST">
      <fieldset>
        <input id="submit" name="logout" class="btn btn-primary" type="submit" value="Logout" />
      </fieldset>
    </form>
  }
  else
  {
    <form class="form-horizontal" method="POST">
      @Html.ValidationSummary()
      <fieldset>
        <legend>Login</legend>
        <div class="form-group">
          <label for="email" class="col-lg-2 control-label">Email</label>
          <div class="col-lg-10">
            <input id="email" class="form-control" name="username" type="email" value="@Request["username"]" required />
          </div>
        </div>

        <div class="form-group">
          <label for="password" class="col-lg-2 control-label">Password: </label>
          <div class="col-lg-10">
            <input id="password" class="form-control" name="password" type="password" value="@Request["password"]" required />
          </div>
        </div>

        <div class="form-group">
          <div class="col-lg-10 col-lg-offset-2">
            <input id="submit" class="btn btn-primary" type="submit" value="Submit" />
          </div>
        </div>
      </fieldset>
    </form>
  }
</div>


@if (IsPost)
{
  if (Request.Form["logout"] == null)
  {
    string username = Request.Form["username"];
    string password = Request.Form["password"];

    if (WebSecurity.UserExists(username) && WebSecurity.Login(username, password, persistCookie: true))
    {
      // Alert the user of login success
      Response.Redirect("/");
    }
    else
    {
      Validation.AddFormError("Invalid Login Information");
    }
  }
  else if (WebSecurity.IsAuthenticated)
  {
    WebSecurity.Logout();
    Response.Redirect("/");
  }
}

<div>

  @*Test Query Values
  <table>
    <tbody>
    @foreach (dynamic row in db.Query(queryString))
    {
      <tr>
        <td>@row.Id</td>
        <td>@row.name</td>
      </tr>
    }
    </tbody>
  </table>
  Test Query Values*@

</div>

@{
  // Close Database Connection
  db.Close();
}
