@{
    Page.Title = "PlanetInc | Reservations";
    Layout = "_Layout.cshtml";

  if (!WebSecurity.IsAuthenticated)
  {
    Response.StatusCode = (int) HttpStatusCode.Forbidden;
    Response.End();
  }

    var db = Database.Open("PlanetInc");
    var regions = db.Query("SELECT r.Id, r.Terrain, r.Price, r.PlanetId, p.Name " +
                           "FROM Regions AS r " +
                           "JOIN Planets AS p ON r.PlanetId = p.Id");
    db.Close();
                           
    var lastPlanetId = 0;
}

<br/>
<div class="col-lg-6">

    @if (!Request.Form.ToString().IsEmpty())
    {
        var reservation = new Reservation(1,
            Convert.ToInt32(Request.Form["regionId"]),
            Convert.ToDateTime(Request.Form["startDate"]),
            Convert.ToDateTime(Request.Form["endDate"])
        );

        if (!reservation.message.IsEmpty())
        {
            <div class="alert alert-dismissible @(reservation.error ? "alert-danger" : "alert-success")">
                <button type="button" class="close" data-dismiss="alert">×</button>
                @reservation.message
            </div>
        }
    }

    <div class="well bs-component">
        <form method="POST" action="Reserve.cshtml" name="register" class="form-horizontal">
            <fieldset>
                <legend>Make a Reservation</legend>

                <!-- TODO: remove, get clientID server-side -->
                <input type="hidden" name="clientId" value="1"/>

                <div class="form-group">
<<<<<<< HEAD
                    <label for="regionId" class="col-lg-2 control-label">Region: </label>
=======
                    <label for="regionId" class="col-lg-2 control-label">Region </label>
>>>>>>> master
                    <div class="col-lg-10">
                        <select class="form-control" name="regionId" id="regionId">
                            @foreach (var row in regions)
                            {
                                if (row.PlanetId != lastPlanetId)
                                {
                                    lastPlanetId = row.PlanetId;
                                    <optgroup label="@row.Name"></optgroup>
                                }
                                <option value="@row.Id">Region @row.Id --- $@row.Price</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="startDate" class="col-lg-2 control-label">Start Date</label>
                    <div class="col-lg-10">
<<<<<<< HEAD
                        <input class="form-control" type="date" name="startDate" id="startDate" required=""/>
=======
                        <input class="form-control" type="date" name="startDate" id="startDate" value="@Request.Form["startDate"]" required=""/>
>>>>>>> master
                    </div>
                </div>

                <div class="form-group">
                    <label for="endDate" class="col-lg-2 control-label">End Date</label>
                    <div class="col-lg-10">
<<<<<<< HEAD
                        <input class="form-control" type="date" name="endDate" id="endDate" required=""/>
=======
                        <input class="form-control" type="date" name="endDate" id="endDate" value="@Request.Form["endDate"]" required=""/>
>>>>>>> master
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
<<<<<<< HEAD
                        <input class="form-control btn-primary" type="submit"/>
=======
                        <input class="form-control btn btn-primary" type="submit"/>
>>>>>>> master
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>